asttokens==2.0.5
autopep8==2.3.1
backcall==0.2.0
Bottleneck==1.3.5
certifi==2022.12.7
charset-normalizer==2.1.1
click==8.1.7
comm==0.2.1
contourpy==1.0.5
cvxpy==1.3.2
cvxpylayers==0.1.6
cycler==0.11.0
Cython==0.29.32
decorator==5.1.1
diffcp==1.0.23
docker-pycreds==0.4.0
ecos==2.0.12
executing==0.8.3
filelock==3.9.0
fonttools==4.25.0
gitdb==4.0.11
GitPython==3.1.43
gwsdp==0.0.0
h5py==3.10.0
idna==3.4
importlib-resources==5.2.0
ipython==8.12.3
ipywidgets==8.1.1
isort==5.13.2
jedi==0.18.1
Jinja2==3.1.2
joblib==1.2.0
jupyterlab-widgets==3.0.9
kiwisolver==1.4.4
MarkupSafe==2.1.2
matplotlib==3.7.2
matplotlib-inline==0.1.6
Mosek==10.1.11
mpmath==1.2.1
munkres==1.1.4
networkx==3.0
numexpr==2.8.4
numpy==1.24.3
osqp==0.6.3
packaging==23.1
pandas==1.5.3
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.3.0
pip==23.2.1
platformdirs==4.2.2
POT==0.9.1
prompt-toolkit==3.0.36
protobuf==4.25.3
psutil==5.9.8
ptyprocess==0.7.0
pure-eval==0.2.2
pybind11==2.11.1
pycodestyle==2.12.1
Pygments==2.15.1
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2023.3.post1
PyYAML==6.0.1
qdldl==0.1.7.post0
requests==2.28.1
scikit-learn==1.3.0
scipy==1.9.3
scs==3.2.3
sdpgw==0.0.0
seaborn==0.13.1
sentry-sdk==2.2.0
setproctitle==1.3.3
setuptools==68.0.0
sip==4.19.13
six==1.16.0
smmap==5.0.1
stack-data==0.2.0
sympy==1.11.1
threadpoolctl==2.2.0
tomli==2.0.2
torch==2.0.1+cpu
torchaudio==2.0.2+cpu
torchvision==0.15.2+cpu
tornado==6.3.2
tqdm==4.66.1
traitlets==5.7.1
typing_extensions==4.4.0
tzdata==2023.3
urllib3==1.26.13
wcwidth==0.2.5
wheel==0.38.4
widgetsnbextension==4.0.9
zipp==3.11.0
